<div id="it_loading_spinner" class="loading">
  <div class="loading-overlay">
    <p class="loading-spinner">
      <%= image_tag "ld4l_virtual_collection/loading_spinner.gif", class: "loading-spinner-img", alt: "loading..." %>
    </p>
  </div>
</div>
